body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-flow: column;
}

#canvas {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
    border-radius: 10px;
}

.canvas-wrapper {
    display: block;
    width: auto;
    height: auto;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button#play {
    background-color: #82368C;
    border-radius: 10px;
    border: none;
    font-size: 22px;
    color: #ffffff;
    padding: 20px 30px;
    margin-top: 30px;
}

main p {
    font-size: 12px;
    color: #333;
    position: absolute;
    bottom: 0;
}

main p a {
    text-decoration: none;
    color: #82368C;
}