:root {
    --main-font: 'Nunito', sans-serif;
    --main-color: #82368C;
    --secondary-color: #d60b52;
    --white: #ffffff;
    --yellow: #f2c600;
    --bg-game-blur: url('../img/bg-game-2.png');
    --bg-game: url('../img/bg-game.png');
}

button {
    background-color: var(--main-color);
    border-radius: 10px;
    border: none;
    font-family: var(--main-font);
    color: #ffffff;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    background-image: var(--bg-game-blur);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#particles-js {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.header img {
    margin: 0 auto;
    display: block;
    margin-top: -50px;
}

.canvas-wrapper {
    margin-top: 50px;
    position: relative;
}

#canvas {
    border-radius: 10px;
    box-shadow: 0 0 0 .7em var(--white);
    display: block;
    margin: 0 auto;
    background: var(--bg-game);
}

.input-wrapper {
    position: absolute;
    z-index: 100;
    top: 160px;
    right: 120px;
}

.input-wrapper input {
    padding: 18px 30px;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    font-size: 22px;
    margin-right: 12px;
    color: var(--secondary-color);
    width: 380px;
    font-weight: bold;
}

#instructions {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    justify-content: space-evenly;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 0;
}

#instructions .left,
#instructions .right {
    display: flex;
    align-items: center;
    color: #757575;
    font-size: 13px;
}

#instructions img {
    width: 25px;
    margin-right: 12px;
}

button#play,
button#repeat {
    font-size: 22px;
    padding: 20px 30px;
}

button#pause {
    font-size: 14px;
    padding: 10px 20px;
    position: absolute;
    right: 30px;
    top: 17px;
}

button#repeat {
    position: absolute;
    right: 40%;
    top: 51%;
    border: 3px solid #fff;
}

footer p {
    color: var(--white);
    font-size: small;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

footer p a {
    text-decoration: none;
    color: var(--yellow);
}